**/__pycache__/*
**/__pycache__/*
extra/winreg/mytool.reg
.project
.pydevproject
**/.settings/*
workspace
dstapks
srcapks
packer/sdks/channels/
packer/sdks/plugins/
**.pyc
bin/jd-gui.cfg
ext/winreg/out.reg
.vscode/settings.json
bin/jadx
